.footer {
    background-color: #202020;
    padding-top: 50px;
}

.project__button {
    display: flex;
    gap: 20px;
    padding: 10px 33px;
    border: 1px solid #F2F2F2;
    border-radius: 139px;

    @media (min-width:$breakpoint-tablet) {
        gap: 45px;
        padding: 21px 37px;
    }

    @media (min-width:$breakpoint-desktop) {
        padding: 42px 214px;
    }
}

.project__button svg {
    width: 50px;
    height: 50px;
    @media (min-width:$breakpoint-tablet) {
        width: 108px;
        height: 108px;
    }
}

.button-wrapper {

    &--title {
        padding-bottom: 4px;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: #Fff;
        text-align: center;
        @media (min-width:$breakpoint-tablet) {
            padding-bottom: 17px;
            font-size: 46px;
            font-weight: 700;
            line-height: 57.6px;
        }
    }
    &--desc {
        margin-right: 24px;
        display: inline;
        font-family: Manrope;
        font-size: 15px;
        font-weight: 500;
        line-height: 20.49px;        
        color: #fff;
        @media (min-width:$breakpoint-tablet) {
            font-family: Manrope;
            font-size: 24px;
            line-height: 32.78px;
        }
    }

    &--pic {
        width: 33px;
        height: 15px;
        @media (min-width:$breakpoint-tablet) {
            width: 55px;
            height: 26px;
        }
    }
    &--pic svg{
        width: 33px;
        height: 15px;
        @media (min-width:$breakpoint-tablet) {
            width: 55px;
            height: 26px;
        }
    }
}


